.logo {
    width: 60px;
    height: 60px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b9bbf;
    height: 70px;
    padding: 0 20px;
}

.textHeader {
    font-weight: 700;
    text-transform: uppercase;
    color: #950505;
    margin: 150px;
    flex-grow: 1;
    text-align: left;
}