.catalogHeader {
    text-align: center;
    margin: 30px 0;
}

.cardsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    background: var(--card-bg, #514f4f);
    border: 2px solid #9e9e9e;
    border-radius: 15px;
    width: 330px;
    padding: 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.2s;
}

.card button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card:hover {
    border-color: rgba(48, 43, 191, 0.92);
}

.card a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.card h3 {
    color: #2b9bbf;
    margin-bottom: 15px;
}

.cardImg {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.searchWrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 6px;
}

.loadMore {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
