.nav {
    height: 50px;
    background-color: var(--navbar-bg);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.navMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
    text-decoration: none;
    color: var(--navbar-link);
}

.navMenu:visited {
    color: var(--navbar-link-visited);
}

.navMenu:hover {
    color: var(--navbar-link-hover);
}

.number {
    margin-left: 50px;
    font-weight: 600;
    color: var(--navbar-number);
}

.tagline {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--navbar-tagline);
}

.phoneImg {
    width: 20px;
    height: 20px;
}
