.nav {
    height: 50px;
    background-color: var(--navbar-bg, cadetblue);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.navMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
    text-decoration: none;
    color: var(--navbar-link, white);
}

.navMenu:visited {
    color: var(--navbar-link-visited, aqua);
}

.navMenu:hover {
    color: var(--navbar-link-hover, red);
}

.number {
    margin-left: 50px;
    font-weight: 600;
    color: var(--navbar-number, #8B0000FF);
    -webkit-text-stroke: 1px darkred;
}

.tagline {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--navbar-tagline, #8c0101);
    -webkit-text-stroke: 1px red;
}

.phoneImg {
    width: 20px;
    height: 20px;
}
